.centro{
    text-align: center;
    justify-content: center;
    display: flex;
   
}
.imagem{
    height: 300px;
    width: 300px;
}
.logo{
    height: 100px;
    width: 200px;
    
  }
  h1{
    color: rgb(10, 8, 153);
  }