<ion-content [fullscreen]="true">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="danger" shape="round" routerLink="/super-mario">Super Mario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/luigi">Luigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/yoshi">Yoshi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/bowser">Bowser</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/toad">Toad</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/wario">Wario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/waluigi">Waluigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/rosalina">Rosalina</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/diddy-kong">Diddy kong</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/lakitu">Lakitu</ion-button><br>  
      <ion-button color="danger" shape="round" routerLink="/shy-guy">Shy Guy</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/sobre">Sobre</ion-button><br> 
      <ion-button color="success" shape="round" routerLink="/home.page.html">Voltar</ion-button><br> 
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
        <ion-title class="logo">
          <img src="https://2.bp.blogspot.com/-X_bUoftiY1c/V0ZE6vQ2fcI/AAAAAAAAA1Y/lDPGvXN0kYMX7SPtHuClh_uZmJGjwAFiACLcB/s1600/mario-bros.png" alt="">
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding">
  
  <ion-row class="centro">
    <ion-col>
      <img class="imagem" src="https://play.nintendo.com/images/Masthead-Waluigi.17345b15.9afde10b.png" alt="">
      <h1>WALUIGI</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h1>ORIGEM:</h1><br>
      <p>Waluigi é um personagem fictício criado pela Nintendo e é conhecido como o rival e contraparte malvada de Luigi.</p>

      <h1>APARENCIA:</h1>
     <p>Waluigi é retratado como um homem alto e magro, com pele amarelada e uma longa cabeleira preta. Ele geralmente é mostrado usando um macacão roxo com botões amarelos e um boné roxo com uma letra "Γ" nele.
     </p>

     <h1>PERSONALIDADE:</h1>
     <p>Waluigi é conhecido por sua natureza trapaceira, invejosa e antagônica. Ele tem uma personalidade arrogante, muitas vezes se envolvendo em trapaças e atitudes desleais para obter vantagens sobre seus adversários. Waluigi é frequentemente retratado como um personagem cômico e exagerado.</p>

     <h1>HABILIDADES:</h1>
     <p> Embora Waluigi não tenha habilidades especiais únicas atribuídas a ele, ele é retratado como um atleta ágil e atlético. Em alguns jogos, ele demonstra habilidades de agilidade, como saltos altos e movimentos acrobáticos.</p>

     <h1>PAPEL NOS JOGOS:</h1>
     <p>  Waluigi estreou como um personagem jogável em "Mario Tennis" em 2000 e desde então tem aparecido em vários jogos da franquia Mario, principalmente em jogos de esportes como tênis, golfe e kart.</p>
    </ion-col>
  </ion-row>
  
  
  
    </ion-content>
  </div>
</ion-content>
  