<ion-content [fullscreen]="true">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="danger" shape="round" routerLink="/super-mario">Super Mario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/luigi">Luigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/yoshi">Yoshi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/bowser">Bowser</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/toad">Toad</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/wario">Wario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/waluigi">Waluigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/rosalina">Rosalina</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/diddy-kong">Diddy kong</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/lakitu">Lakitu</ion-button><br>  
      <ion-button color="danger" shape="round" routerLink="/shy-guy">Shy Guy</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/sobre">Sobre</ion-button><br> 
      <ion-button color="success" shape="round" routerLink="/home.page.html">Voltar</ion-button><br> 
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
        <ion-title class="logo">
          <img src="https://2.bp.blogspot.com/-X_bUoftiY1c/V0ZE6vQ2fcI/AAAAAAAAA1Y/lDPGvXN0kYMX7SPtHuClh_uZmJGjwAFiACLcB/s1600/mario-bros.png" alt="">
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding">
  
  <ion-row class="centro">
    <ion-col>
      <img class="imagem" src="https://upload.wikimedia.org/wikipedia/en/d/d4/Donkey_Kong_character.png" alt="">
      <h1>DONKEY KONG</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
     
      <h1>ORIGEM:</h1>
      <p> Donkey Kong é um personagem fictício criado pela Nintendo e é frequentemente retratado como um gorila poderoso.</p>

     <h1>APARENCIA:</h1>
     <p>Donkey Kong é retratado como um gorila grande e musculoso, com pelagem marrom e uma expressão facial marcante. Ele é frequentemente mostrado vestindo uma gravata vermelha com iniciais "DK" nela.</p>

     <h1>PERSONALIDADE:</h1>
     <p> Donkey Kong é conhecido por sua personalidade enérgica, corajosa e às vezes um pouco ingênua. Ele é retratado como um personagem de bom coração, com uma natureza protetora em relação a sua família e território. Donkey Kong é frequentemente mostrado como um herói, pronto para enfrentar desafios e proteger sua ilha.</p>

     <h1>HABILIDADE:</h1>
     <p> Donkey Kong é conhecido por sua força física impressionante. Ele é capaz de realizar saltos poderosos, golpes com os punhos e carregar objetos pesados. Além disso, ele é um excelente escalador de árvores e é capaz de se mover rapidamente.</p>

     <h1>PAPEL NOS JOGOS:</h1>
     <p>Donkey Kong estreou como o antagonista principal em "Donkey Kong" em 1981. No entanto, ao longo dos anos, ele se tornou um dos heróis mais populares da Nintendo. Ele é o protagonista de várias séries de jogos, como "Donkey Kong Country" e "Donkey Kong 64", além de aparecer em jogos de crossover, como a série "Mario Kart" e "Super Smash Bros."</p>
    </ion-col>
  </ion-row>
  
  
  
    </ion-content>
  </div>
</ion-content>
  
