<ion-content [fullscreen]="true">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="danger" shape="round" routerLink="/super-mario">Super Mario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/luigi">Luigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/yoshi">Yoshi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/bowser">Bowser</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/toad">Toad</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/wario">Wario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/waluigi">Waluigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/rosalina">Rosalina</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/diddy-kong">Diddy kong</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/lakitu">Lakitu</ion-button><br>  
      <ion-button color="danger" shape="round" routerLink="/shy-guy">Shy Guy</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/sobre">Sobre</ion-button><br> 
      <ion-button color="success" shape="round" routerLink="/home.page.html">Voltar</ion-button><br> 
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
        <ion-title class="logo">
          <img src="https://2.bp.blogspot.com/-X_bUoftiY1c/V0ZE6vQ2fcI/AAAAAAAAA1Y/lDPGvXN0kYMX7SPtHuClh_uZmJGjwAFiACLcB/s1600/mario-bros.png" alt="">
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding">
  
  <ion-row class="centro">
    <ion-col>
      <img class="imagem" src="https://w7.pngwing.com/pngs/312/1008/png-transparent-rosalina-princess-peach-mario-bros-concept-art-peach-float.png" alt="">
      <h1>ROSALINA</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
     
      <h1>ORIGEM:</h1>
      <p> Rosalina é uma personagem fictícia criada pela Nintendo e é frequentemente retratada como uma guardiã estelar.</p>

     <h1>APARENCIA:</h1>
     <p> Rosalina é retratada como uma mulher alta e elegante. Ela tem cabelos loiros longos e olhos azuis profundos. Ela é geralmente vista usando um vestido azul celeste com detalhes estelares e uma coroa estrelada.</p>

     <h1>PERSONALIDADE:</h1>
     <p> Rosalina é conhecida por sua personalidade calma, gentil e maternal. Ela é retratada como uma figura sábia e compassiva, cuidando dos Lumas, pequenas criaturas estelares, e sendo protetora do cosmos. Ela é geralmente mostrada como uma pessoa tranquila e reservada.</p>

     <h1>HISTORIA:</h1>
     <p> A história de Rosalina é contada no jogo "Super Mario Galaxy", revelando que ela era uma menina terrestre que se tornou a guardiã da Galáxia e construiu sua própria nave espacial, a Comet Observatory.</p>

     <h1>PAPEL NOS JOGOS:</h1>
     <p>Rosalina apareceu pela primeira vez como uma personagem principal em "Super Mario Galaxy" em 2007. Ela desempenha um papel importante em jogos subsequentes, como "Super Mario Galaxy 2" e "Super Mario 3D World". Rosalina também aparece em jogos de spin-off, como a série "Mario Kart" e "Mario Party".</p>
    </ion-col>
  </ion-row>
  
  
  
    </ion-content>
  </div>
</ion-content>
  