<ion-content [fullscreen]="true">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="danger" shape="round" routerLink="/super-mario">Super Mario</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/luigi">Luigi</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/yoshi">Yoshi</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/bowser">Bowser</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/toad">Toad</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/wario">Wario</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/waluigi">Waluigi</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/rosalina">Rosalina</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button><br> 
    <ion-button color="danger" shape="round" routerLink="/diddy-kong">Diddy kong</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/lakitu">Lakitu</ion-button><br>  
    <ion-button color="danger" shape="round" routerLink="/shy-guy">Shy Guy</ion-button><br> 
    <ion-button color="danger" shape="round" routerLink="/sobre">Sobre</ion-button><br> 
    <ion-button color="success" shape="round" routerLink="/home.page.html">Voltar</ion-button><br> 
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
        <ion-title class="logo">
          <img src="https://2.bp.blogspot.com/-X_bUoftiY1c/V0ZE6vQ2fcI/AAAAAAAAA1Y/lDPGvXN0kYMX7SPtHuClh_uZmJGjwAFiACLcB/s1600/mario-bros.png" alt="">
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding">
  
  <ion-row class="centro">
    <ion-col>
      <img class="imagem" src="https://play.nintendo.com/images/Masthead_Wario.17345b1513ac044897cfc243542899dce541e8dc.9afde10b.png" alt="">
      <h1>WARIO</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h1>ORIGEM:</h1><br>
      <p>Wario é um personagem fictício criado pela Nintendo e é conhecido como um "anti-herói" na franquia Mario.</p>

      <h1>APARENCIA:</h1>
     <p>Wario é retratado como um homem corpulento com um bigode grosso, pele amarelada e olhos arregalados. Ele geralmente é mostrado usando um macacão roxo com botões amarelos e um boné amarelo com uma letra "W" nele.
     </p>

     <h1>PERSONALIDADE:</h1>
     <p>Wario é conhecido por ser ganancioso, egoísta e travesso. Ele está frequentemente em busca de tesouros, dinheiro e poder, muitas vezes entrando em conflito com Mario e seus amigos. Wario tem uma personalidade robusta e muitas vezes é retratado como um personagem excêntrico e debochado.</p>

     <h1>HABILIDADES:</h1>
     <p>  Wario possui força física excepcional e é capaz de realizar ataques poderosos, como o "Shoulder Bash" (investida de ombro) e o "Ground Pound" (pulso no chão). Ele também é conhecido por sua resistência e resistência a certos efeitos negativos.</p>

     <h1>PAPEL NOS JOGOS:</h1>
     <p> Wario estreou como um antagonista em "Super Mario Land 2: 6 Golden Coins" em 1992 e posteriormente estrelou em vários jogos próprios, como a série "Wario Land" e "WarioWare". Nessas séries, ele embarca em suas próprias aventuras e desafios.</p>
    </ion-col>
  </ion-row>
  
  
  
    </ion-content>
  </div>
</ion-content>
  