<ion-content [fullscreen]="true">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="danger" shape="round" routerLink="/super-mario">Super Mario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/luigi">Luigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/yoshi">Yoshi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/bowser">Bowser</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/toad">Toad</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/wario">Wario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/waluigi">Waluigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/rosalina">Rosalina</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/diddy-kong">Diddy kong</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/lakitu">Lakitu</ion-button><br>  
      <ion-button color="danger" shape="round" routerLink="/shy-guy">Shy Guy</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/sobre">Sobre</ion-button><br> 
      <ion-button color="success" shape="round" routerLink="/home.page.html">Voltar</ion-button><br> 
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
        <ion-title class="logo">
          <img src="https://2.bp.blogspot.com/-X_bUoftiY1c/V0ZE6vQ2fcI/AAAAAAAAA1Y/lDPGvXN0kYMX7SPtHuClh_uZmJGjwAFiACLcB/s1600/mario-bros.png" alt="">
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding">
  
  <ion-row class="centro">
    <ion-col>
      <img class="imagem" src="https://mario.wiki.gallery/images/7/7d/MSOGT_Bowser.png" alt="">
      <h1>BROWSER/ REI KOOPA</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h1>ESPECIE:</h1><br>
      <p> Bowser é uma tartaruga gigante antropomórfica.</p>

      <h1>APARENCIA:</h1>
     <p> : Bowser é retratado como um réptil com uma carapaça verde escura. Ele tem chifres, garras afiadas e uma aparência intimidadora. Sua carapaça possui espinhos e ele geralmente é mostrado com um semblante malicioso.
     </p>

     <h1>HABILIDADES:</h1>
     <p> Bowser é um personagem poderoso, com força física sobre-humana. Ele também pode respirar fogo e possui habilidades de salto. Bowser geralmente emprega uma variedade de dispositivos e tropas leais, como os Koopalings, para ajudá-lo em seus planos.</p>

     <h1>PERSONALIDADE:</h1>
     <p> Bowser é retratado como um vilão impiedoso, determinado a conquistar o Reino do Cogumelo e sequestrar a Princesa Peach. Ele é conhecido por sua natureza maligna, mas também demonstra um lado cômico e infantil em algumas ocasiões.</p>

     <h1>PAPEL NOS JOGOS:</h1>
     <p> Bowser é o principal antagonista da franquia Mario. Ele apareceu pela primeira vez como o chefe final no jogo "Super Mario Bros." em 1985 e tem sido o principal vilão em muitos jogos desde então. Bowser frequentemente sequestra a Princesa Peach e desafia Mario em batalhas épicas.</p>
    </ion-col>
  </ion-row>
  
  
  
    </ion-content>
  </div>
</ion-content>
  