<ion-content [fullscreen]="true">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="danger" shape="round" routerLink="/super-mario">Super Mario</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/luigi">Luigi</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/yoshi">Yoshi</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/bowser">Bowser</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/toad">Toad</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/wario">Wario</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/waluigi">Waluigi</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/rosalina">Rosalina</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button><br> 
    <ion-button color="danger" shape="round" routerLink="/diddy-kong">Diddy kong</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/lakitu">Lakitu</ion-button><br>  
    <ion-button color="danger" shape="round" routerLink="/shy-guy">Shy Guy</ion-button><br> 
    <ion-button color="danger" shape="round" routerLink="/sobre">Sobre</ion-button><br> 
    <ion-button color="success" shape="round" routerLink="/home.page.html">Voltar</ion-button><br> 
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
        <ion-title class="logo">
          <img src="https://2.bp.blogspot.com/-X_bUoftiY1c/V0ZE6vQ2fcI/AAAAAAAAA1Y/lDPGvXN0kYMX7SPtHuClh_uZmJGjwAFiACLcB/s1600/mario-bros.png" alt="">
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding">
  
  <ion-row class="centro">
    <ion-col>
      <img class="imagem" src="https://i.pinimg.com/originals/0a/b9/2d/0ab92db6cdc90971fe514aff503153e7.png" alt="">
      <h1>YOSHI</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h1>ESPECIE:</h1><br>
      <p> Yoshi é uma espécie de dinossauro antropomórfico.</p>

      <h1>APARENCIA:</h1>
     <p>  Yoshi tem uma aparência distinta, com uma pele verde, olhos grandes e um focinho longo. Ele geralmente tem um sorriso amigável em seu rosto e um par de sapatos grandes. Existem variações de cores de Yoshi, como o Yoshi vermelho, azul, amarelo, entre outros.
     </p>

     <h1>HABILIDADES:</h1>
     <p> Yoshi é conhecido por sua habilidade única de engolir inimigos com sua longa língua e transformá-los em ovos que podem ser usados como projéteis. Ele também tem a capacidade de planar temporariamente no ar usando suas asas curtas.</p>

     <h1>PERSONALIDADE:</h1>
     <p> Yoshi é retratado como um personagem alegre, leal e corajoso. Ele é conhecido por sua natureza brincalhona e por ser um grande amigo de Mario e seus companheiros.</p>

     <h1>PAPEL NOS JOGOS:</h1>
     <p>Yoshi apareceu pela primeira vez como um personagem jogável no jogo "Super Mario World" em 1990. Desde então, ele estrelou em vários jogos próprios, como a série "Yoshi's Island" e "Yoshi's Woolly World".</p>
    </ion-col>
  </ion-row>
  
  
  
    </ion-content>
  </div>
</ion-content>
  