<ion-content [fullscreen]="true">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="danger" shape="round" routerLink="/super-mario">Super Mario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/luigi">Luigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/yoshi">Yoshi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/bowser">Bowser</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/toad">Toad</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/wario">Wario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/waluigi">Waluigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/rosalina">Rosalina</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/diddy-kong">Diddy kong</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/lakitu">Lakitu</ion-button><br>  
      <ion-button color="danger" shape="round" routerLink="/shy-guy">Shy Guy</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/sobre">Sobre</ion-button><br> 
      <ion-button color="success" shape="round" routerLink="/home.page.html">Voltar</ion-button><br> 
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
        <ion-title class="logo">
          <img src="https://2.bp.blogspot.com/-X_bUoftiY1c/V0ZE6vQ2fcI/AAAAAAAAA1Y/lDPGvXN0kYMX7SPtHuClh_uZmJGjwAFiACLcB/s1600/mario-bros.png" alt="">
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding">
  
  <ion-row class="centro">
    <ion-col>
      <img class="imagem" src="https://mario.wiki.gallery/images/thumb/8/87/NSMBU_Lakitu_Artwork.png/1200px-NSMBU_Lakitu_Artwork.png" alt="">
      <h1>LAKITU</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
     
      <h1>ORIGEM:</h1>
      <p>  Lakitu é um personagem fictício criado pela Nintendo e é frequentemente retratado como um inimigo comum em jogos da franquia Mario.</p>

     <h1>APARENCIA:</h1>
     <p> Lakitu é retratado como uma criatura com uma concha verde que flutua no ar. Ele tem olhos grandes e uma boca sorridente. Geralmente, ele é mostrado segurando uma nuvem chamada "Cloud Koopa" e uma vara de filmagem.</p>

     <h1>PAPEL NO JOGO:</h1>
     <p>Lakitu apareceu pela primeira vez como um inimigo em "Super Mario Bros." em 1985. Ele é conhecido por sua habilidade de lançar Spiny Eggs em direção ao jogador. Além disso, Lakitu também é visto em jogos atuando como um observador e cinegrafista, como em "Mario Kart", onde ele grava as corridas.</p>

     <h1>COMPORTAMENTO:</h1>
     <p> Lakitu é conhecido por sua tendência de flutuar no ar em sua nuvem e lançar objetos em direção aos jogadores. No entanto, em alguns jogos, Lakitu pode desempenhar papéis mais amigáveis, como fornecer itens ou ajudar o jogador em certas situações.</p>

     <h1>VARIAÇÕES:</h1>
     <p>Existem variações de Lakitu em diferentes jogos, como Spiny Lakitu, que lança Spiny Eggs mais perigosos, e Fishin' Lakitu, que usa uma vara de pescar para lançar objetos.</p>
    </ion-col>
  </ion-row>
  
  
  
    </ion-content>
  </div>
</ion-content>
  

