<ion-content [fullscreen]="true">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="danger" shape="round" routerLink="/super-mario">Super Mario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/luigi">Luigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/yoshi">Yoshi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/bowser">Bowser</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/toad">Toad</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/wario">Wario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/waluigi">Waluigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/rosalina">Rosalina</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/diddy-kong">Diddy kong</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/lakitu">Lakitu</ion-button><br>  
      <ion-button color="danger" shape="round" routerLink="/shy-guy">Shy Guy</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/sobre">Sobre</ion-button><br> 
      <ion-button color="success" shape="round" routerLink="/home.page.html">Voltar</ion-button><br> 
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
        <ion-title class="logo">
          <img src="https://2.bp.blogspot.com/-X_bUoftiY1c/V0ZE6vQ2fcI/AAAAAAAAA1Y/lDPGvXN0kYMX7SPtHuClh_uZmJGjwAFiACLcB/s1600/mario-bros.png" alt="">
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding">
  
  <ion-row class="centro">
    <ion-col>
      <img class="imagem" src="https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_2.0/c_scale,w_400/ncom/pt_BR/games/switch/n/new-super-mario-bros-u-deluxe-switch/description-image" alt="">
      <h1>SUPER MARIO BROS</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h1>PROFISSÃO:</h1><br>
      <p>Encanador, Originalmente, Mario era carpinteiro, mas, depois dos canos nos quais ele entrava literalmente no famosíssimo jogo Mario Bros, passou a ser considerado encanador.</p>

      <h1>NACIONALIDADE:</h1>
     <p>  Italiano (embora sua nacionalidade não seja mencionada nos jogos, a origem italiana de Mario foi estabelecida por meio de outras mídias, como filmes e desenhos animados)
      De acordo com o game designer, ele logo imaginou que esse herói morava em Nova York e que seria italiano. Já o nome Mario foi inspirado por Mario Segale, dono do imóvel onde ficava o escritório da Nintendo nos Estados Unidos. Assim, nascia um dos maiores ícones dos videogames.
     </p>

     <h1>APARENCIA:</h1>
     <p>Mario é geralmente retratado como um homem baixo e de estatura média, com cabelo e bigode pretos, vestindo um macacão azul, uma camiseta vermelha e um boné vermelho com um "M" na frente.</p>

     <h1>PERSONALIDADE:</h1>
     <p>Ele é retratado como um herói corajoso, determinado e otimista, sempre disposto a enfrentar desafios para salvar a Princesa Peach e o Reino do Cogumelo dos vilões.</p>

     <h1>HISTORIA:</h1>
     <p>Mario fez sua primeira aparição no jogo "Donkey Kong" em 1981 e se tornou o protagonista de uma série de jogos populares, como "Super Mario Bros.", "Super Mario 64", "Super Mario Galaxy" e muitos outros.</p>
    </ion-col>
  </ion-row>
  
  
  
    </ion-content>
  </div>
</ion-content>
  