<ion-content [fullscreen]="true">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="danger" shape="round" routerLink="/super-mario">Super Mario</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/luigi">Luigi</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/yoshi">Yoshi</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/bowser">Bowser</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/toad">Toad</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/wario">Wario</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/waluigi">Waluigi</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/rosalina">Rosalina</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button><br> 
    <ion-button color="danger" shape="round" routerLink="/diddy-kong">Diddy kong</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/lakitu">Lakitu</ion-button><br>  
    <ion-button color="danger" shape="round" routerLink="/shy-guy">Shy Guy</ion-button><br> 
    <ion-button color="danger" shape="round" routerLink="/sobre">Sobre</ion-button><br> 
    <ion-button color="success" shape="round" routerLink="/home.page.html">Voltar</ion-button><br> 
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
        <ion-title class="logo">
          <img src="https://2.bp.blogspot.com/-X_bUoftiY1c/V0ZE6vQ2fcI/AAAAAAAAA1Y/lDPGvXN0kYMX7SPtHuClh_uZmJGjwAFiACLcB/s1600/mario-bros.png" alt="">
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding">
  
  <ion-row class="centro">
    <ion-col>
      <img class="imagem" src="https://mario.wiki.gallery/images/thumb/0/06/DiddyKong2.png/1200px-DiddyKong2.png" alt="">
      <h1>DIDDY KONG</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
     
      <h1>ORIGEM:</h1>
      <p> Diddy Kong é um personagem fictício criado pela Rare Ltd. em parceria com a Nintendo e é frequentemente retratado como o companheiro e aprendiz de Donkey Kong.</p>

     <h1>APARENCIA:</h1>
     <p> Diddy Kong é retratado como um macaco pequeno e ágil. Ele tem pelagem marrom com uma barriga clara e um gorro vermelho com iniciais "DK" nele.</p>

     <h1>PERSONALIDADE:</h1>
     <p> Diddy Kong é conhecido por sua personalidade animada, curiosa e brincalhona. Ele é retratado como um personagem cheio de energia, sempre disposto a embarcar em aventuras e enfrentar desafios ao lado de Donkey Kong. Diddy Kong é amigável, leal e muitas vezes demonstra uma atitude otimista.</p>

     <h1>HABILIDADE:</h1>
     <p> Diddy Kong é ágil e rápido, sendo capaz de saltar alturas consideráveis e se mover com agilidade. Ele também é habilidoso com um par de pistolas de coco chamadas "Peanut Popguns", que disparam amendoins como projéteis.</p>

     <h1>PAPEL NOS JOGOS:</h1>
     <p>Diddy Kong apareceu pela primeira vez como um personagem jogável em "Donkey Kong Country" em 1994. Ele desempenha papéis importantes em jogos subsequentes da série "Donkey Kong Country" e em outros títulos, como "Diddy Kong Racing" e "Super Smash Bros."</p>
    </ion-col>
  </ion-row>
  
  
  
    </ion-content>
  </div>
</ion-content>
  

