<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
<ion-row>
  <ion-col size="12">
    <ion-segment value="default">
      <ion-segment-button value="brasil">
        <ion-label>Brasil</ion-label>
      </ion-segment-button>

      <ion-segment-button value="china">
        <ion-label>China</ion-label>
      </ion-segment-button>

      <ion-segment-button value="india">
        <ion-label>ìndia</ion-label>
      </ion-segment-button>

      <ion-segment-button value="mexico">
        <ion-label>México</ion-label>
      </ion-segment-button>

      <ion-segment-button value="jordania">
        <ion-label>Jordânia</ion-label>
      </ion-segment-button>

      <ion-segment-button value="italia">
        <ion-label>Itália</ion-label>
      </ion-segment-button>

      <ion-segment-button value="peru">
        <ion-label>Peru</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
</ion-row>

<!-- Cards do Brasil -->
<ion-row>
  <ion-col size="4">
      <ion-card>
        <ion-img src="https://images.pexels.com/photos/10205966/pexels-photo-10205966.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1     "></ion-img>
      </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <ion-img src="https://images.pexels.com/photos/10205938/pexels-photo-10205938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
    </ion-card>
</ion-col>

<ion-col size="4">
  <ion-card>
    <ion-img src="https://images.pexels.com/photos/6580700/pexels-photo-6580700.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
  </ion-card>
</ion-col>
</ion-row>

<!-- Cards da China -->
<ion-row>
  <ion-col size="4">
      <ion-card>
        <ion-img src="https://images.pexels.com/photos/2412603/pexels-photo-2412603.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
      </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <ion-img src="https://images.pexels.com/photos/13560534/pexels-photo-13560534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
    </ion-card>
</ion-col>

<ion-col size="4">
  <ion-card>
    <ion-img src="https://images.pexels.com/photos/10952316/pexels-photo-10952316.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
  </ion-card>
</ion-col>
</ion-row>

<!-- Cards da India -->
<ion-row>
  <ion-col size="4">
      <ion-card>
        <ion-img src="https://images.pexels.com/photos/3361480/pexels-photo-3361480.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
      </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <ion-img src="https://images.pexels.com/photos/3881104/pexels-photo-3881104.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
    </ion-card>
</ion-col>

<ion-col size="4">
  <ion-card>
    <ion-img src="https://images.pexels.com/photos/2413613/pexels-photo-2413613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
  </ion-card>
</ion-col>
</ion-row>

<!-- Cards do Mexico -->
<ion-row>
  <ion-col size="4">
      <ion-card>
        <ion-img src="https://images.pexels.com/photos/4107611/pexels-photo-4107611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
      </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <ion-img src="https://images.pexels.com/photos/5188293/pexels-photo-5188293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
    </ion-card>
</ion-col>

<ion-col size="4">
  <ion-card>
    <ion-img src="https://images.pexels.com/photos/3290068/pexels-photo-3290068.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
  </ion-card>
</ion-col>
</ion-row>

<!-- Cards da jordania -->
<ion-row>
  <ion-col size="4">
      <ion-card>
        <ion-img src="https://images.pexels.com/photos/4094259/pexels-photo-4094259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
      </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <ion-img src="https://images.pexels.com/photos/720254/pexels-photo-720254.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
    </ion-card>
</ion-col>

<ion-col size="4">
  <ion-card>
    <ion-img src="https://images.pexels.com/photos/4388165/pexels-photo-4388165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
  </ion-card>
</ion-col>
</ion-row>

<!-- Cards da Italia -->
<ion-row>
  <ion-col size="4">
      <ion-card>
        <ion-img src="https://images.pexels.com/photos/2225439/pexels-photo-2225439.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
      </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <ion-img src="https://images.pexels.com/photos/397431/pexels-photo-397431.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
    </ion-card>
</ion-col>

<ion-col size="4">
  <ion-card>
    <ion-img src="https://images.pexels.com/photos/1701595/pexels-photo-1701595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
  </ion-card>
</ion-col>
</ion-row>

<!-- Cards do Peru -->
<ion-row>
  <ion-col size="4">
      <ion-card>
        <ion-img src="https://images.pexels.com/photos/3879058/pexels-photo-3879058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
      </ion-card>
  </ion-col>

  <ion-col size="4">
    <ion-card>
      <ion-img src="https://images.pexels.com/photos/3532326/pexels-photo-3532326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
    </ion-card>
</ion-col>

<ion-col size="4">
  <ion-card>
    <ion-img src="https://images.pexels.com/photos/90597/pexels-photo-90597.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></ion-img>
  </ion-card>
</ion-col>
</ion-row>
  
</ion-content>
