<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
 <ion-row>
  <ion-col size="6">
    <img src="https://images.pexels.com/photos/163314/hot-air-balloon-balloon-sky-hot-air-balloon-ride-163314.jpeg">
  </ion-col>


   <ion-col >

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h1>CRIAR CONTA</h1>
      </ion-col>
    </ion-row>
     

     
      
          <ion-row class="ion-justify-content-center">
            <ion-col size="6" class="ion-text-center">
              <ion-item>
                <ion-input  placeholder="NOME"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input  type="email" placeholder="E-MAIL"></ion-input>
              </ion-item>
          
              <ion-item>
                <ion-input type="placeholder" placeholder="SENHA ********"></ion-input>
              </ion-item>
    
              <ion-item>
                <ion-input type="placeholder" placeholder="CONFIRMAR ********"></ion-input>
              </ion-item>
    
              <ion-row>
                <ion-col id="botao" size="12" class="ion-text-center" shape="round">
                  <ion-button color="success">CRIAR CONTA</ion-button>
                </ion-col>
              </ion-row>
              

              <ion-col>
                
              <ion-row>
                <ion-col size="12" class="ion-text-center">
                  <h5>LOGIN COM</h5>
                </ion-col>
              </ion-row>
             
     <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button color="primary" shape="round">FACEBOOK</ion-button><br>
      </ion-col>
     </ion-row>
   
     <ion-row>
      <ion-col size="12" class="ion-text-center" shape="round">
        <ion-button color="secondary">TWITTER</ion-button><br>
      </ion-col>
     </ion-row>
    
     <ion-row>
      <ion-col size="12" class="ion-text-center" shape="round">
        <ion-button color="danger">GOOGLE</ion-button>
      </ion-col>
     </ion-row>
   
    


  </ion-col>
    </ion-col>
         </ion-row>
            
    </ion-col>
 </ion-row>
    
</ion-content>
