<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
     <ion-col size="6">

      <ng-container *ngFor="let produto of this.produtos">
        <ion-item >
          <ion-avatar slot="start">
            <img src="{{produto.image}}">
          </ion-avatar>
          <ion-label>Nome: {{produto.nome}}</ion-label>
          <ion-label>Preço: {{produto.preco}}</ion-label>
          <ion-label>Marca: {{produto.marca}}</ion-label>

          <ion-button id="{{produto.id }}">Visualizar</ion-button>
  <ion-alert
    trigger="{{produto.id }}"
    header="Detalhes do Produto"
    message=
    "Nome:{{produto.nome}}
     Preço:{{produto.preco}}
     Marca:{{produto.marca}}"

     [buttons]="alertButtons"
   
  ></ion-alert>
       </ion-item>
      </ng-container>
       
     </ion-col>
  </ion-row>
</ion-content>
