<ion-content [fullscreen]="true">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="danger" shape="round" routerLink="/super-mario">Super Mario</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/luigi">Luigi</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/yoshi">Yoshi</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/bowser">Bowser</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/toad">Toad</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/wario">Wario</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/waluigi">Waluigi</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/rosalina">Rosalina</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button><br> 
    <ion-button color="danger" shape="round" routerLink="/diddy-kong">Diddy kong</ion-button><br>
    <ion-button color="danger" shape="round" routerLink="/lakitu">Lakitu</ion-button><br>  
    <ion-button color="danger" shape="round" routerLink="/shy-guy">Shy Guy</ion-button><br> 
    <ion-button color="danger" shape="round" routerLink="/sobre">Sobre</ion-button><br> 
    <ion-button color="success" shape="round" routerLink="/home.page.html">Voltar</ion-button><br> 
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
        <ion-title class="logo">
          <img src="https://2.bp.blogspot.com/-X_bUoftiY1c/V0ZE6vQ2fcI/AAAAAAAAA1Y/lDPGvXN0kYMX7SPtHuClh_uZmJGjwAFiACLcB/s1600/mario-bros.png" alt="">
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding">
  
  <ion-row class="centro">
    <ion-col>
      <img class="imagem" src="https://mario.wiki.gallery/images/3/34/MPS_Daisy_Artwork_2.png" alt="">
      <h1>PRINCESA DAISY</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
     
      <h1>ORIGEM:</h1>
      <p> Princesa Daisy é uma personagem fictícia criada pela Nintendo e é frequentemente retratada como uma amiga próxima da Princesa Peach.</p>

     <h1>APARENCIA:</h1>
     <p> Daisy é retratada como uma mulher jovem e graciosa. Ela tem cabelos loiros e olhos azuis brilhantes. Ela é frequentemente mostrada vestindo um vestido amarelo ou laranja, com detalhes decorativos e uma coroa na cabeça.</p>

     <h1>PERSONALIDADE:</h1>
     <p> Daisy é conhecida por sua personalidade enérgica, audaciosa e espontânea. Ela é retratada como uma personagem extrovertida e confiante, muitas vezes demonstrando uma atitude competitiva. Daisy é amigável e está sempre pronta para se divertir.</p>

     <h1>RELAÇÃO COM O LUIGI:</h1>
     <p> Assim como Peach é a interesse romântico de Mario, Daisy é frequentemente retratada como a interesse romântico de Luigi. Sua relação é mostrada de forma alegre e brincalhona em vários jogos.</p>

     <h1>PAPEL NOS JOGOS:</h1>
     <p> Daisy apareceu pela primeira vez como uma personagem jogável em "Super Mario Land" em 1989. Ela tem sido uma personagem recorrente em jogos da franquia Mario, aparecendo em títulos como "Mario Party", "Mario Kart" e outros.</p>
    </ion-col>
  </ion-row>
  
  
  
    </ion-content>
  </div>
</ion-content>
  