<ion-content [fullscreen]="true">

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="danger" shape="round" routerLink="/super-mario">Super Mario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-peach">Princesa Peach</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/luigi">Luigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/yoshi">Yoshi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/bowser">Bowser</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/toad">Toad</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/wario">Wario</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/waluigi">Waluigi</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/princesa-daisy">Princesa Daisy</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/rosalina">Rosalina</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/donkey-kong">Donkey kong</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/diddy-kong">Diddy kong</ion-button><br>
      <ion-button color="danger" shape="round" routerLink="/lakitu">Lakitu</ion-button><br>  
      <ion-button color="danger" shape="round" routerLink="/shy-guy">Shy Guy</ion-button><br> 
      <ion-button color="danger" shape="round" routerLink="/sobre">Sobre</ion-button><br> 
      <ion-button color="success" shape="round" routerLink="/home.page.html">Voltar</ion-button><br> 
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
        <ion-title class="logo">
          <img src="https://2.bp.blogspot.com/-X_bUoftiY1c/V0ZE6vQ2fcI/AAAAAAAAA1Y/lDPGvXN0kYMX7SPtHuClh_uZmJGjwAFiACLcB/s1600/mario-bros.png" alt="">
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding">
  
  <ion-row class="centro">
    <ion-col>
      <img class="imagem" src="https://upload.wikimedia.org/wikipedia/en/d/d1/Toad_3D_Land.png" alt="">
      <h1>TOAD</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h1>ESPECIE:</h1><br>
      <p>Toad é uma espécie de cogumelo antropomórfico. Ele é frequentemente retratado como um membro leal e dedicado da comunidade do Reino do Cogumelo.</p>

      <h1>APARENCIA:</h1>
     <p>Toad é caracterizado por seu corpo redondo e cabeça em formato de cogumelo. Ele tem olhos grandes, um sorriso amigável e geralmente usa um colete azul com botões amarelos e uma veste branca.
     </p>

     <h1>PERSONALIDADE:</h1>
     <p>Toad é conhecido por ser corajoso, otimista e prestativo. Ele frequentemente oferece ajuda e informações úteis a Mario e seus amigos em suas aventuras. Toad é retratado como um personagem amigável e alegre.</p>

     <h1>VARIAÇÕES:</h1>
     <p> Além do Toad comum, existem variações de cores como Toadette, Toadsworth e Capitão Toad, cada um com suas próprias características e personalidades distintas.</p>

     <h1>PAPEL NOS JOGOS:</h1>
     <p> Toad apareceu pela primeira vez como um personagem de apoio no jogo "Super Mario Bros." em 1985. Desde então, ele desempenhou vários papéis em jogos da franquia Mario, incluindo a função de ajudante, fornecedor de itens e até personagem jogável em jogos como "Super Mario 3D World".</p>
    </ion-col>
  </ion-row>
  
  
  
    </ion-content>
  </div>
</ion-content>
  